
<div id = "trainingcontent" class="width100 height100 fade ">  
    <h1> Hello <%= user %> </h1>

<div class = "block width100 height80 content blockcentral ">


    
 
<div class = "flex width100 height100 wrap  ">


      
<div id="StartScreenButton" class = "adminbutton flex flexcentralalign width20 height10   ">

    <h1 class="   textaligncenter width100  " > Start Screen</h1>
</div> 

<div id="Edit_Screens" class = "adminbutton flex flexcentralalign width20 height10   ">

    <h1 class="   textaligncenter width100  " > Edit Screens</h1>
</div> 

       
</div>



</div>


</div>

<script src="JS/Fadescript.js"></script>

<script   src="JS/Ajaxposttest.js"></script>



