
    
<div class = "width60 height50  block    blockcentral position-absolute absolutecentral">

<form id="loginform" class = "  width100 height100 flex flexcolumn rowgap10  flexcentralalign" >
    <h1 id = "textaligncenter width100 height10 block smalllinehight" class = ""> Login </h1>
    <div class="input-wrapper width80 height33 block">
        <label for="UserName">User Name</label><br>
        <input  class="overlayinputText height100 width100" type="text" id="UserName" value=""><br>
    </div>

    <div class="input-wrapper width80 height33 ">
        <label for="Password">Password</label><br>
        <input  class="overlayinputText height100 width100" type="password" id="Password" value=""><br>
    </div>
  


    <input class = "width40 height20 block overlayinputinputbutton position-relative blockcentral" id = "LoginBut" type="Submit" value="Submit">

    <a href="/CreateLogin" class="width80 height60  buttonlink  textaligncenter">Create an account</a>

</form>

</div>


</div>
       



</div>



<script src="JS/LoginPost.js"></script>



