
    
<div class = "width60 height50  block    blockcentral position-absolute absolutecentral">

<form id="loginform" class = "  width100  flex flexcolumn rowgap10  flexcentralalign" >
    <h1 id = "textaligncenter width100 height10 block smalllinehight" class = ""> Create an account </h1>

    <div class="input-wrapper width80  block">
        <label for="FirstName">First Name</label><br>
        <input  class="overlayinputText height100 width100" type="text" id="FirstName" value=""><br>
    </div>

    <div class="input-wrapper width80  block">
        <label for="Surname">Surname</label><br>
        <input  class="overlayinputText height100 width100" type="text" id="Surname" value=""><br>
    </div>

    <div class="input-wrapper width80  block">
        <label for="Address1">Address Line 1</label><br>
        <input  class="overlayinputText height100 width100" type="text" id="Address1" value=""><br>
    </div>

    <div class="input-wrapper width80  block">
        <label for="Address2">Address Line 2</label><br>
        <input  class="overlayinputText height100 width100" type="text" id="Address2" value=""><br>
    </div>

    <div class="input-wrapper width80  block">
        <label for="Postcode">Postcode</label><br>
        <input  class="overlayinputText height100 width100" type="text" id="Postcode" value=""><br>
    </div>


    <div class="input-wrapper width80  block">
        <label for="homePhone">Home Phone Number </label><br>
        <input  class="overlayinputText height100 width100" type="text" id="homePhone" value=""><br>
    </div>

    <div class="input-wrapper width80  block">
        <label for="MobilePhone">Mobile Phone Number </label><br>
        <input  class="overlayinputText height100 width100" type="text" id="MobilePhone" value=""><br>
    </div>

    <div class="input-wrapper width80  block">
        <label for="Email">E-mail address</label><br>
        <input  class="overlayinputText height100 width100" type="text" id="Email" value=""><br>
    </div>

    <div class="input-wrapper width80 height33 ">
        <label for="Password">Password</label><br>
        <input  class="overlayinputText height100 width100" type="password" id="Password" value=""><br>
    </div>
  


    <input class = "width40 height20 block overlayinputinputbutton position-relative blockcentral" id = "CreateAccount" type="Submit" value="Submit">


</form>

</div>


</div>
       



</div>



<script src="JS/CreateuserPost.js"></script>



