


<div id = "sidebarContainer" class = "flex ">
<div id="logocontainer" class="  block blockcentral">
    <img class= "fitimage block blockcentral" src="/assets/SUMSLogoWhite.png" alt="">
</div>






</div>