


<div id = "sidebarContainer" class = "flex ">
<div id="logocontainer" class="  block blockcentral">
    <img class= "fitimage block blockcentral" src="/assets/SUMSLogoWhite.png" alt="">
</div>



<div id="digitalposter"class = "width70 height80 block  blockcentral">

<h1 class = "textcolorprimary textaligncenter"> Admin Console </h1>






</div>