<h1 class = "block width100 textaligncenter">Cart</h1>
    

<% cartlist.forEach((cart) => {  %>   
<ul>
    <li class="textcolorsecondary width100">  
    <p ><strong><%= cart.product_name %> </strong>    Qty  <%= cart.quantity %>         </p>    
    </li>
</ul>
<% })  %>  
<div class="flex width100 flexcentralalign">

</div>