<div id="ViewgroupConfirmation" class="overlay" >
    
    <div class=" Overlaybox block  width70 height60">
            <form class = "position-relative  width90 height100  block padleft padright overlayinput" id="AddAViewitemGroup">
              

                <div class = "flex flexcolumn height60 width40 flexcentralalign">
        <h3 class = "block width100 height10 textaligncenter">Are you sure you wish to delete this view group?</h3>
        <p class = "block width100 height10 textaligncenter">This action cannot be undone</p>
        </div>

            <div class = "flex height20 width100 flexcentralalign position-relative" >
                <input class = "width20 block overlayinputinputbutton position-relative" id = "DeleteAcceptButton" type="Button" value="Delete">
            <input class = "width20 block  overlayinputinputbutton position-relative" id = "DeleteCancelButton" type="Button" value="Cancel">
        </div>
      
    
          
        </form>
        
        
        
        
    
    </div>


</div>