<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>
<body class = "  margin0 overflowhidden  height100">
    <%- include('../partials/banner'); %>

  


        <div id ="ContentContainer" class = "flex flexcentralalign flexcolumn  width100 height100  ">
       <h1 class = "textaligncenter">Account</h1>
            <div class = "flex flexcolumn width60 height80 rowgap10">
                <a href="/account/ViewAccount" class="width60 height10  buttonlink  textaligncenter">View account Details</a>
                <a href="/account/ViewMagazineOrders" class="width60 height10  buttonlink  textaligncenter">Book orders</a>
                <a href="/account/ViewMagazineOrders" class="width60 height10  buttonlink  textaligncenter">Magazine orders</a>
                <a href="/ExpertEvents" class="width60 height10  buttonlink  textaligncenter">Course Bookings</a>
                <a href="/ExpertEvents" class="width60 height10  buttonlink  textaligncenter">Geneaology Bookings</a>
                <a href="/ExpertEvents" class="width60 height10  buttonlink  textaligncenter">Expert Talk Bookings</a>
              
           
            </div>

       

        
        
        </div>













</body>

<footer>
 
</footer>

</body>


</html>