<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>

<body>


<div id ="outercontainer" class = "flex width100 height100">
  

    <div id = "sidebar" class = "width20 colorPrimary block  " >
        <%- include('../partials/RightbarAdmin'); %>
    </div>

    <div class = "width80 height100 block " id="Contentblock" >
      
        

        <div id ="ContentContainer" class = "blockcentral block width90 height90 overflowhidden ">
        
            <%- include('../partials/Adminconsolemain'); %>


        </div>


       
          
        
        
        </div>



</div>








</body>

<footer>
 
</footer>

</body>


</html>