<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>
<body class = "  margin0 overflowhidden  height100">
    <%- include('../partials/banner'); %>

  
<div class = "flex width100 colgapsmall wrap rowgap10 margintop5 ">

<div class = "flex width20 flexcolumn  height40 borderprimary pad0 ">
   <h2 class="width100  textaligncenter"> books</h2>
   <ul class="width100 colorPrimary textaligncenter pad0">
  <li > <a href="/admin/Books/AuthorAdmin" class="width100 height10  buttonlink  textaligncenter">Edit Authors</a> </li>
    <li>         <a href="/admin/Books/Bookadmin" class="width100 height10  buttonlink  textaligncenter">Edit Books</a></li>
        <li>         <a href="/admin/Books/PublisherAdmin" class="width100 height10  buttonlink  textaligncenter">Edit publishers</a></li>
       
            </ul>
</div>


    <div class = "flex width20 flexcolumn  height40 borderprimary pad0 ">
       <h2 class="width100  textaligncenter"> Magazines</h2>
       <ul class="width100 colorPrimary textaligncenter pad0">
      <li > <a href="/admin/Magazines/sublengthAdmin" class="width100 height10  buttonlink  textaligncenter">Edit Subscription Lengths</a> </li>
        <li>         <a href="/admin//Books/Magazineadmin" class="width100 height10  buttonlink  textaligncenter">Edit Magazines</a></li>
            <li>         <a href="/admin/Books/PublisherAdmin" class="width100 height10  buttonlink  textaligncenter">Edit publishers</a></li>
           
                </ul>
    </div>





<div class = "flex width20 flexcolumn  height40 borderprimary pad0 ">
    <h2 class="width100  textaligncenter"> Events</h2>
    <ul class="width100 colorPrimary textaligncenter pad0">
   <li > <a href="/admin/events/Venues" class="width100 height10  buttonlink  textaligncenter">Edit Venues</a> </li>
     <li>         <a href="/admin/events/courseType" class="width100 height10  buttonlink  textaligncenter">Edit Course type</a></li>
         <li>         <a href="/admin/Books/CourseOffering" class="width100 height10  buttonlink  textaligncenter"> Course offering</a></li>
         <li>         <a href="/admin/events/expertType" class="width100 height10  buttonlink  textaligncenter">Edit talk type</a></li>
         <li>         <a href="/admin/events/ExpertOffering" class="width100 height10  buttonlink  textaligncenter">Edit talks</a></li>
        
             </ul>
 </div>

</div>








</body>

<footer>
 
</footer>

</body>


</html>