<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>

<body>
    <%- include('../partials/banner'); %>

  


        <div id ="ContentContainer" class = "flex flexcentralalign width90 height80  ">
        
            <%- include('../partials/Loginscreen'); %> 
        
        </div>







<script   src="JS/LoginPost.js"></script>





</body>

<footer>
 
</footer>

</body>


</html>