<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>

<body>

    <%- include('../partials/banner'); %>
<div id ="outercontainer" class = "block width100 height100">
    <h1 class = "width100 orderconfirmedtext textaligncenter"> Order confirmed </h1>

  

</div>








</body>

<footer>
 
</footer>

</body>


</html>