<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>
<body class = "  overflowxhidden height100">
    <%- include('../partials/banner'); %>


   

        <div class = "width100 height10 block flexcentralalign marginbottom">
            <h1 class = "block width100 textaligncenter smalllinehight" > Events</h1>
            <p class = "block width100 textaligncenter smalllinehight" > Interactive immersive events </p>
        </div>

        <div id ="ContentContainer" class = "flex  colgapsmall flexJustifyCentral width100 height70  nowrap ">
          
   <div class = "width30 height80 flex flexcolumn flexcentralalign  colorSecondary dropshadow">
    <h2 class = "block height5 width100 textaligncenter "> First in class courses </h2>
    <div class = "block width100 height40 colorPrimary"></div>
    <p class = " height30  margin-bottom block width90 textaligncenter"> 
        We pride ourselves with offering industry leading short courses,
         run by leading experts in the field, supported by our dedicated volunteers,
          all courses offer competative prices and run all year around, What will you Discover?
    </p>

    <div class = "width100 height20 flex flexcentralalign">
        <a href="/courses" class="width80 height60  buttonlink  textaligncenter">Explore our courses</a>
    </div>

</div>
   
<div class = "width30 height80 flex flexcolumn flexcentralalign  colorSecondary dropshadow">
    <h2 class = "block height5 width100 textaligncenter "> Industry leading Expert Talks </h2>
    <div class = "block width100 height40 colorPrimary"></div>
    <p class = " height30  margin-bottom block width90 textaligncenter"> 
    Attend one of our critically acclaimed guest lecturers offering, research led insightful findings from 
    experts in the field.
    </p>
<div class = "width100 height20 flex flexcentralalign">
    <a href="/ExpertEvents" class="width80 height60  buttonlink  textaligncenter">Explore expert talks</a>
</div>
</div>
        </div>













</body>

<footer>
 
</footer>

</body>


</html>