<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>


<header>

</header>
<body class = "  margin0 overflowhidden  height100">
    <%- include('../partials/banner'); %>

  


        <div id ="ContentContainer" class = "flex  width100 height100  ">
            <%- include('../partials/Gallery'); %>

        
        
        </div>













</body>

<footer>
 
</footer>

</body>


</html>